<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@training.errors.count, "błędów") %> przeszkodziło w zachowaniu danych</h2>

      <ul>
      <% @training.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa kierunku" %><br>
    <%= f.text_field :name %>
  </div>

  <div id="info">
    <div class="field">
      <%= f.label :info, "Opis kierunku" %><br>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :methods, "Główne przedmioty nauczania" %><br>
      <%= f.text_area :methods %>
    </div>
  </div>

  <div id="organizacja_s">
    <div class="field">
      <%= f.label :moreinfo, "Organizacja studiów" %><br>
      <%= f.text_area :moreinfo %>
    </div>
  </div>
  <div id="uczelnia">
    <div class="field">
      <%= f.label :organizer_name, "Nazwa uczelni" %><br>
      <%= f.text_field :organizer_name %>
    </div>
    <div class="field">
      <%= f.label :organizer_address, "Adres uczelni" %><br>
      <%= f.text_field :organizer_address %>
    </div>
    <div class="field">
      <%= f.label :organizer_contact, "Kontakt" %><br>
      <%= f.text_field :organizer_contact %>
    </div>
    <div class="field">
      <%= f.label :organizer_link, "Strona WWW uczelni" %><br>
      <%= f.text_field :organizer_link %>
    </div>
  </div>
  <div id="lokalizacja">
    <div class="field">
      <%= f.label :address, "Adres wydziału" %><br>
      <%= f.text_area :address %>
    </div>
  </div>
  <div id="koszty">
    <div class="field">
      <%= f.label :paid %><br>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :costs, "Koszt studiów" %><br>
      <%= f.text_area :costs %>
    </div>
    <div class="field">
      <%= f.label :costs_info, "Dodatkowe informacje na temat kosztów" %><br>
      <%= f.check_box :costs_info %>
    </div>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id, @locations_array) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, @cat_array) %>
  </div>
  <%= f.hidden_field :studies, :value => 1 %>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
