<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@training.errors.count} błędów" %> przeszkodziło w zachowaniu danych</h2>

      <ul>
      <% @training.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa kierunku" %><br>
    <%= f.text_field :name %>
  </div>

  <div id="info">
    <div class="field">
      <%= f.label :info, "Opis kierunku" %><br>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :methods, "Główne przedmioty nauczania" %><br>
      <%= f.text_area :methods %>
    </div>
  </div>

  <div id="organizacja_s">
    <div class="field">
      <%= f.label :moreinfo, "Organizacja studiów" %><br>
      <%= f.text_area :moreinfo %>
    </div>
  </div>
  <div id="uczelnia">
    <div class="field">
      <%= f.label :organizer_id %><br>
      <%= f.select(:organizer_id,
        Organizer.where(college: true).map { |org| [org.name, org.id] },
        {include_blank: "Wybierz organizatora"}) %>
    </div>
  </div>
  <div id="lokalizacja">
    <div class="field">
      <%= f.label :address, "Adres wydziału" %><br>
      <%= f.text_area :address %>
    </div>
  </div>
  <div id="koszty">
    <div class="field">
      <%= f.label :paid %><br>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :costs, "Koszt studiów" %><br>
      <%= f.text_area :costs %>
    </div>
    <div class="field">
      <%= f.label :costs_info, "Dodatkowe informacje na temat kosztów" %><br>
      <%= f.text_area :costs_info %>
    </div>
  </div>
  <div class="field">
    <%= f.label :postgrad, "Podyplomowe" %></br>
    <%= f.check_box :postgrad %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id,
      Location.all.map {|location| [location.name, location.id]},
      {include_blank: "Wybierz lokalizację"}) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id,
      Category.where(studies: true).map { |cat| [cat.name,cat.id]},
      {include_blank: "Wybierz kategorię"}) %>
  </div>
  <%= f.hidden_field :studies, :value => 1 %>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
