<thead>
    <tr>
      <th>Kierunek studiów</th>
      <th>Uczelnia</th>
      <th>E-learning</th>
      <th>Płatne</th>
      <th>Lokalizacja (powiat)</th>
      <th>Kategoria (dziedzina)</th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to training.name, training %></td>
        <td><%= training.organizer.name %></td>
        <td><%= training.elearning ? "Tak" : "Nie" %></td>
        <td><%= training.paid ? "Tak" : "Nie" %></td>
        <td><%= training.location.name %></td>
        <td><%= sanitize training.category.name.gsub("/", "/&#8203;") %></td>
      </tr>
    <% end %>
  </tbody>
