<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@training.errors.count} błędów" %> przeszkodziło w zachowaniu danych</h2>

      <ul>
      <% @training.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="<%= @training.postgrad ? 'studiapform' : 'studiawform' %>">
  <div class="field">
    <%= f.label :name, "Nazwa studiów" %>
    <%= f.text_field :name %>
  </div>

  <%= field_set_tag "Podstawowe informacje o studiach", id:"info" do %>
    <div class="field">
      <%= f.label :info, "Opis studiów" %>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :methods, "Specjalności" %>
      <%= f.text_area :methods %>
    </div>
  <% end %>

  <%= field_set_tag "Organizacja studiów", id:"organizacja_s" do %>
    <div class="field">
      <%= f.text_area :moreinfo %>
    </div>
  <% end %>

  <%= field_set_tag "Lokalizacja", id: "lokalizacja" do %>
    <div class="field">
      <%= f.label :address, "Adres wydziału" %>
      <%= f.text_area :address %>
    </div>
  <% end %>

  <%= field_set_tag "Uczelnia", id:"uczelnia" do %>
    <div class="field hint--info hint--bottom" data-hint="Wyświetlani są tylko organizatorzy oznaczeni jako Uczelnia">
      <%= f.label :organizer_id %>
      <%= f.select(:organizer_id,
        Organizer.where(college: true).map { |org| [org.name, org.id] },
        {include_blank: "Wybierz uczelnię"}) %>
    </div>
  <% end %>

  <%= field_set_tag "Koszty", id: "koszty" do %>
    <div class="field">
      <%= f.label :paid %>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :costs, "Koszt studiów" %>
      <%= f.text_area :costs %>
    </div>
    <div class="field">
      <%= f.label :costs_info, "Dodatkowe informacje na temat kosztów" %>
      <%= f.text_area :costs_info %>
    </div>
  <% end %>
  <%= field_set_tag "Forma studiów", id: "postgrad" do %>
    <div class="field">
      <%= f.label :postgrad, "Podyplomowe" %>
      <%= f.check_box :postgrad %>
    </div>
  <% end %>
  <%= field_set_tag "Rejon i kategoria", id: "loccat" do %>
    <div class="field">
      <%= f.label :location_id %>
      <%= f.select(:location_id, Location.all.map {|location| [location.name, location.id]}, {include_blank: "Wybierz lokalizację"}) %>
    </div>
    <div class="field">
      <%= f.label :category_id %>
      <%= f.select(:category_id, Category.where(studies: true).map { |cat| [cat.name,cat.id]}, {include_blank: "Wybierz kategorię"}) %>
    </div>
  <% end %>
  <%= f.hidden_field :studies, :value => 1 %>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
</div>
<% end %>
