<%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@training.errors.count} błędów" %> przeszkodziło w zachowaniu danych</h2>

      <ul>
      <% @training.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa szkolenia" %><br>
    <%= f.text_field :name %>
  </div>
  <div id="program">
    <h2>Program</h2>
    <div class="field">
      <%= f.label :target, "Cel szkolenia" %><br>
      <%= f.text_area :target %>
    </div>
    <div class="field">
      <%= f.label :elearning, "Forma szkolenia (zaznacz jeśli E-learning)" %><br>
      <%= f.check_box :elearning %>
    </div>
    <div class="field">
      <%= f.label :info, "Program szkolenia" %><br>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :methods, "Metody szkolenia" %><br>
      <%= f.text_area :methods %>
    </div>
    <div class="field">
      <%= f.label :groupsize, "Wielkość grupy" %><br>
      <%= f.text_area :groupsize %>
    </div>
    <div class="field">
      <%= f.label :moreinfo, "Uwagi" %><br>
      <%= f.text_area :moreinfo %>
    </div>
  </div>
  <div id="lokalizacja">
    <h2>Lokalizacja</h2>
    <div class="field">
      <%= f.label :address, "Miejsce odbywania szkolenia" %><br>
      <%= f.text_area :address %>
    </div>
  </div>
  <div id="organizator">
    <h2>Organizator</h2>
    <div class="field">
      <%= f.label :organizer_id %><br>
      <%= f.select(:organizer_id, 
        Organizer.all.map { |org| [org.name, org.id] },
        {include_blank: "Wybierz organizatora"}) %>
    </div>
  </div>
  <div id="koszty">
    <h2>Koszty</h2>
    <div class="field">
      <%= f.label :paid %><br>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :costs, "Koszty uczestnictwa jednej osoby" %><br>
      <%= f.text_field :costs %>
    </div>
    <div class="field">
      <%= f.label :costs_info, "Dodatkowe informacje na temat kosztów" %><br>
      <%= f.text_area :costs_info %>
    </div>
  </div>
  <div id="termin">
  <h2>Termin</h2>
    <div class="field">
      <%= f.label :term, "Termin zgłoszenia" %><br>
      <%= f.text_field :term %>
    </div>
    <div class="field">
      <%= f.label :term_info, "Czas trwania szkolenia" %><br>
      <%= f.text_area :term_info %>
    </div>
    <div class="field">
      <%= f.label :begin_date, "Data rozpoczęcia" %><br>
      <%= f.date_field :begin_date %>
    </div>
    <div class="field">
      <%= f.label :end_date, "Data zakończenia" %><br>
      <%= f.date_field :end_date %>
    </div>    
  </div>
  <div id="trener">
    <h2>Trener/-rzy:</h2>
    <div class="field">
      <%= f.label :trainer_info, "Informacje o trenerze" %><br>
      <%= f.text_area :trainer_info %>
    </div>    
  </div>
  
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.select(:location_id, 
      Location.all.map {|location| [location.name, location.id]},
      {include_blank: "Wybierz lokalizację"}) %>
  </div>
  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.select(:category_id, 
      Category.where(studies: false).map { |cat| [cat.name, cat.id] },
      {include_blank: "Wybierz kategorię"}) %>
  </div>
  <%= f.hidden_field :postgrad, :value => 0 %>
  <%= f.hidden_field :studies, :value => 0 %>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
