
  <%= form_for(@training) do |f| %>
  <% if @training.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@training.errors.count} błędów" %> przeszkodziło w zachowaniu danych</h2>

      <ul>
      <% @training.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div id="szkolenieform">
  <div class="field">
    <%= f.label :name, "Nazwa szkolenia" %>
    <%= f.text_field :name %>
  </div>
  <%= field_set_tag "Program", id: "program" do %>
    <div class="field">
      <%= f.label :target, "Cel szkolenia" %>
      <%= f.text_area :target %>
    </div>
    <div class="field hint--info hint--bottom" data-hint="Zaznacz jeśli E-learning">
      <%= f.label :elearning, "Forma szkolenia" %>
      <%= f.check_box :elearning %>
    </div>
    <div class="field">
      <%= f.label :info, "Program szkolenia" %>
      <%= f.text_area :info %>
    </div>
    <div class="field">
      <%= f.label :methods, "Metody szkolenia" %>
      <%= f.text_area :methods %>
    </div>
    <div class="field">
      <%= f.label :groupsize, "Wielkość grupy" %>
      <%= f.text_area :groupsize %>
    </div>
    <div class="field">
      <%= f.label :moreinfo, "Uwagi" %>
      <%= f.text_area :moreinfo %>
    </div>
  <% end %>
  <%= field_set_tag "Lokalizacja", id: "lokalizacja" do %>
    <div class="field">
      <%= f.label :address, "Miejsce odbywania szkolenia" %>
      <%= f.text_area :address %>
    </div>
  <% end %>
  <%= field_set_tag "Organizator", id: "organizator" do %>
    <div class="field">
      <%= f.label :organizer_id %>
      <%= f.select(:organizer_id, Organizer.all.map { |org| [org.name, org.id] }, {include_blank: "Wybierz organizatora"}) %>
    </div>
  <% end %>
  <%= field_set_tag "Koszty", id: "koszty" do %>
    <div class="field">
      <%= f.label :paid %>
      <%= f.check_box :paid %>
    </div>
    <div class="field">
      <%= f.label :costs, "Koszty uczestnictwa jednej osoby" %>
      <%= f.text_field :costs %>
    </div>
    <div class="field">
      <%= f.label :costs_info, "Dodatkowe informacje na temat kosztów" %>
      <%= f.text_area :costs_info %>
    </div>
  <% end %>
  <%= field_set_tag "Termin", id: "termin" do %>
    <div class="field">
      <%= f.label :term, "Termin zgłoszenia" %>
      <%= f.text_field :term %>
    </div>
    <div class="field">
      <%= f.label :term_info, "Czas trwania szkolenia" %>
      <%= f.text_area :term_info %>
    </div>
    <div class="field">
      <%= f.label :begin_date, "Data rozpoczęcia" %>
      <%= f.date_field :begin_date %>
    </div>
    <div class="field">
      <%= f.label :end_date, "Data zakończenia" %>
      <%= f.date_field :end_date %>
    </div>    
  <% end %>
  <%= field_set_tag "Trener/-rzy", id: "trener" do %>
      <%= f.collection_select(:trainer_ids, Trainer.all, :id, :name, {}, {:multiple => true}) %>
  <% end %>
  <%= field_set_tag "Rejon i kategoria", id: "loccat" do %>
    <div class="field">
      <%= f.label :location_id %>
      <%= f.select(:location_id, Location.all.map {|location| [location.name, location.id]}, {include_blank: "Wybierz lokalizację"}) %>
    </div>
    <div class="field">
      <%= f.label :category_id %>
      <%= f.select(:category_id, Category.where(studies: false).map { |cat| [cat.name, cat.id] }, {include_blank: "Wybierz kategorię"}) %>
    </div>
  <% end %>
  <%= f.hidden_field :postgrad, :value => 0 %>
  <%= f.hidden_field :studies, :value => 0 %>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
  </div>
<% end %>
