<h1>Lista szkoleń oraz studiów</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Organizator</th>
      <th>Lokalizacja (powiat)</th>
      <th>Kategoria (dziedzina)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= training.name %></td>
        <td><%= training.organizer.name %></td>
        <td><%= training.location.name %></td>
        <td><%= training.category.name %></td>
        <td><%= link_to 'edytuj', edit_training_path(training) %></td>
        <td><%= link_to 'usuń', training, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>