<p id="notice"><%= notice %></p>

<h2><%= @training.name %></h2>

<div id="info">
  <p>
    <strong>Opis kierunku:</strong>
    <%= @training.info %>
  </p>
  <p>
    <strong>Główne przedmioty nauczania</strong>
    <%= @training.methods %>
  </p>
</div>

<div id="orgzanizacja_s">
  <p>
    <%= @training.moreinfo %>
  </p>
</div>

<div id="uczelnia">
  <p>
    <strong>Nazwa uczelni:</strong>
    <%= @training.organizer.name %>
  </p>
  <p>
    <strong>Adres uczelni:</strong>
    <%= @training.organizer.address %>
  </p>
  <p>
    <strong>Kontakt:</strong>
    <%= @training.organizer.contact %>
  </p>
  <p>
    <strong>Strona WWW uczelni:</strong>
    <%= @training.organizer.link %>
  </p>
</div>
<div id="lokalizacja">
  <p>
    <strong>Adres wydziału:</strong>
    <%= @training.address %>
  </p>
  <p>
    <strong><a href="<%= @training.target %>"></a></strong>
  </p>
</div>
<div id="koszty">
<% if !@training.paid %>
  <p>Studia są bezpłatne</p>
<% else %>
  <p>
    <strong>Koszty uczestnictwa jednej osoby:</strong>
    <%= @training.costs %>
  </p>
  <p>
    <strong>Dodatkowe informacje na temat kosztów:</strong>
    <%= @training.costs_info %>
  </p>
<% end %>
</div>

<%= link_to 'Edycja', edit_training_path(@training) %> |
<% if @training.postgrad %>
<%= link_to 'Wstecz', podyplomowe_trainings_path %>
<% else %>
<%= link_to 'Wstecz', studia_trainings_path %>
<% end %>
