<p id="notice"><%= notice %></p>

<h2><%=link_to @training.category.name, szkolenia_trainings_path(category_id: @training.category.id, commit: true) %>/<%= @training.name %></h2>

<div class="szkolenie">
  <ul class="tabs">
    <li><a href="#program">Program</a></li>
    <li><a href="#lokalizacja">Lokalizacja</a></li>
    <li><a href="#organizator">Organizator</a></li>
    <li><a href="#koszty">Koszty</a></li>
    <li><a href="#termin">Termin</a></li>
  </ul>

  <div id="program">
    <p>
      <strong>Cel szkolenia:</strong>
      <%= simple_format  @training.target %>
    </p>
    <p>
      <strong>Forma szkolenia:</strong>
      <%= @training.elearning ? "E-learning" : "Stacjonarne" %>
    </p>
    <p>
      <strong>Program szkolenia:</strong>
      <%= simple_format @training.info %>
    </p>    
  <% unless @training.trainers.empty? %>
    <p>
    <strong>Trener/-rzy:</strong>
      <ul>
      <% @training.trainers.each do |trainer| %>
        <li><%= link_to trainer.name, trainer %></li>
      <% end %>
      </ul>
    </p>
  <% else %>
    <p>
      <strong>Informacje o kadrze trenerskiej:</strong>
      <%= simple_format @training.trainer_info %>
    </p>
  <% end %>
    <p>
      <strong>Metody szkolenia:</strong>
      <%= simple_format @training.methods %>
    </p>
    <p>
      <strong>Wielkość grupy:</strong>
      <%= simple_format @training.groupsize %>
    </p>
    <p>
      <strong>Uwagi:</strong>
      <%= simple_format @training.moreinfo %>
    </p>
  </div>


  <div id="lokalizacja">
    <p>
      <strong>Miejsce szkolenia:</strong>
      <%= simple_format @training.address %>
    </p>
    <div id="mapa">
    </div>
  </div>

  <div id="organizator">
    <p>
      <strong>Nazwa organizatora:</strong>
      <% unless @training.organizer.link.blank? %>
      <a href="<%= @training.organizer.link %>"><%= @training.organizer.name %></a>
      <% else %>
      <%= @training.organizer.name %>
      <% end %>
    </p>
    <p>
      <strong>Adres organizatora:</strong>
      <%= simple_format @training.organizer.address %>
    </p>
    <p>
      <strong>Kontakt:</strong>
      <%= simple_format @training.organizer.contact %>
    </p>
  </div>

  <div id="koszty">
  <% unless @training.paid %>
    <p>Szkolenie jest bezpłatne</p>
  <% else %>
    <p>
      <strong>Koszty uczestnictwa jednej osoby:</strong>
      <%= simple_format @training.costs %>
    </p>
    <p>
      <strong>Dodatkowe informacje na temat kosztów:</strong>
      <%= simple_format @training.costs_info %>
    </p>
  <% end %>
  </div>

  <div id="termin">
    <p>
      <strong>Termin zgłoszenia:</strong>
      <%= @training.term %>
    </p>
    <p>
      <strong>Czas trwania szkolenia:</strong>
      <%= simple_format @training.term_info %>
    </p>
  <% if @training.term_contact and @training.term_contact!="" %>
    <p>
      <strong>Kontakt w sprawie szkolenia:</strong>
      <%= simple_format @training.term_contact %>
    </p>
  <% end %>
  <% if @training.begin_date %>
    <p>
      <strong>Data rozpoczęcia:</strong>
      <%= @training.begin_date %>
    </p>
  <% else %>
    <p>
      <strong>Data rozpoczęcia:</strong>
      <%= simple_format @training.term_notes %>
    </p>
  <% end %>
  <% if @training.end_date %>
    <p>
      <strong>Data zakończenia:</strong>
      <%= @training.end_date %>
    </p>
  <% end %>
  </div>
</div>

<% if signed_in? %>
  <%= link_to 'Edycja', edit_training_path(@training), class: "szkolenie_link_block" %>
<% end %>
