<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Info:</strong>
  <%= @training.info %>
</p>

<p>
  <strong>Moreinfo:</strong>
  <%= @training.moreinfo %>
</p>

<p>
  <strong>Studies:</strong>
  <%= @training.studies %>
</p>

<p>
  <strong>Postgrad:</strong>
  <%= @training.postgrad %>
</p>

<p>
  <strong>Elearning:</strong>
  <%= @training.elearning %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @training.paid %>
</p>

<p>
  <strong>Costs:</strong>
  <%= @training.costs %>
</p>

<p>
  <strong>Term:</strong>
  <%= @training.term %>
</p>

<p>
  <strong>Address:</strong>
  <%= @training.address %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @training.organizer %>
</p>

<p>
  <strong>Location:</strong>
  <%= @training.location.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @training.category.name %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
