<p id="notice"><%= notice %></p>

<h2><%=link_to @training.category.name, @training.postgrad ? studia_podyplomowe_trainings_path(category_id: @training.category.id, commit: true) : studia_wyzsze_trainings_path(category_id: @training.category.id, commit: true) %>/<%= @training.name %></h2>

<div class="<%= @training.postgrad ? 'studiap' : 'studiaw' %>">
 <ul class="idTabs">
    <li><a href="#info">Informacje o kierunku</a></li>    
    <li><a href="#orgzanizacja_s">Organizacja studiów</a></li>
    <li><a href="#uczelnia">Organizator</a></li>
    <li><a href="#lokalizacja">Lokalizacja</a></li>
    <li><a href="#koszty">Koszty</a></li>
  </ul>
  <div id="info">
    <p>
      <strong>Opis studiów:</strong>
      <%= simple_format @training.info %>
    </p>
    <p>
      <strong>Specjalności:</strong>
      <%= simple_format @training.methods  %>
    </p>
  </div>

  <div id="orgzanizacja_s">
    <p>
      <%= simple_format @training.moreinfo %>
    </p>
  </div>

  <div id="uczelnia">
    <p>
      <strong>Nazwa organizatora:</strong>
      <% unless @training.organizer.link.blank? %>
      <a href="<%= @training.organizer.link %>"><%= @training.organizer.name %></a>
      <% else %>
      <%= @training.organizer.name %>
      <% end %>
    </p>
    <p>
      <strong>Adres uczelni:</strong>
      <%= simple_format @training.organizer.address  %>
    </p>
    <p>
      <strong>Kontakt:</strong>
      <%= simple_format @training.organizer.contact  %>
    </p>
  </div>
  <div id="lokalizacja">
    <p>
      <%= simple_format @training.address  %>
    </p>
    <div id="mapa">
    </div>
  </div>
  <div id="koszty">
  <% unless @training.paid %>
    <p>Studia są bezpłatne</p>
  <% else %>
    <p>
      <strong>Koszty uczestnictwa jednej osoby:</strong>
      <%= @training.costs %>
    </p>
    <p>
      <strong>Dodatkowe informacje na temat kosztów:</strong>
      <%= simple_format @training.costs_info %>
    </p>  
  <% end %>
  </div>
</div>

<% if signed_in? %>
  <%= link_to 'Edycja', edit_training_path(@training), class: @training.postgrad ? 'studiap_link_block' : 'studiaw_link_block' %>
<% end %>

