<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa szkolenia:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Program szkolenia:</strong>
  <%= @training.info %>
</p>

<p>
  <strong>Trener/-rzy:</strong>
  <%= @training.moreinfo %>
</p>

<p>
  <strong>E-learning:</strong>
  <%= @training.elearning ? "Tak" : "Nie" %>
</p>

<p>
  <strong>Płatne:</strong>
  <%= @training.paid ? "Tak" : "Nie" %>
</p>

<p>
  <strong>Koszty:</strong>
  <%= @training.costs %>
</p>

<p>
  <strong>Termin:</strong>
  <%= @training.term %>
</p>

<p>
  <strong>Adres:</strong>
  <%= @training.address %>
</p>

<p>
  <strong>Organizator:</strong>
  <%= @training.organizer %>
</p>

<p>
  <strong>Lokalizacja (powiat):</strong>
  <%= @training.location.name %>
</p>

<p>
  <strong>Kategoria: (dziedzina)</strong>
  <%= @training.category.name %>
</p>

<%= link_to 'Edycja', edit_training_path(@training) %> |
<%= link_to 'Wstecz', szkolenia_trainings_path %>
