<div class="search">
<%= form_tag szkolenia_trainings_path, method: "get" do %>
<div id="szkolenieform">
<%= field_set_tag "Szkolenia" do %>
	<div class="field">
	    <%= label_tag :query, "Słowo kluczowe" %>
	    <%= text_field_tag :query, params[:query] %>
	</div>
	<div class="field">
	  <%= label_tag :location_id, "Lokalizacja" %>
		<%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name, params[:location_id]), prompt: "Wybierz lokalizację") %>
	</div>
	<div class="field">
	  <%= label_tag :training_category_id, "Kategoria" %>
		<%= select_tag(:category_id, options_from_collection_for_select(Category.where(studies: false), :id, :name, params[:category_id]), prompt: "Wybierz kategorię") %>
	</div>
	<div class="field">
    <%= label_tag :free, "Tylko bezpłatne" %>
    <%= check_box_tag :free, '1', params[:free]=='1'?true:false %>
  </div>
  <div class="field">
    <%= label_tag :elearning, "Tylko e-learning" %>
    <%= check_box_tag :elearning, '1', params[:elearning]=='1'?true:false %>
  </div>
  <%= hidden_field_tag :organizer_id, params[:organizer_id] %>
	<%= submit_tag "Wyszukaj" %> 
<% end %>
</div>
<% end %>
</div>
<% if signed_in? or params[:commit] %>
<% unless @trainings.empty? and params[:commit] %>
<table class="szkolenia">
  <thead>
    <tr>
      <th>Nazwa szkolenia</th>
      <th>Data rozpoczęcia</th>
      <th>Czas trwania</th>
      <th>Lokalizacja (powiat)</th>
      <th>Płatne</th>
      <th>Aktywne</th>
	<% if current_user.admin? %>
      <th></th>
	<% end %> 
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to training.name, training %></td>
        <td>
        <% if training.begin_date %>
          <%= training.begin_date %>
        <% else %>
          <%= training.term_notes %>
        <% end %></td>
        <td><%= training.term_info %></td>
        <td><%= training.location.name %></td>
        <td><%= training.paid ? "Tak" : "Nie" %></td>
        <td><%= check_box_tag 'acive', training.id, training.active, :class => 'active' %></td>
    <% if current_user.admin? %>
        <td class="nolink"><%= link_to 'Edytuj', edit_training_path(training) %> | <%= link_to 'Usuń', training, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p style="text-align: center; border: dashed 4px red; padding: 20px; width: 800px; margin:  20px auto 20px auto; background: lavenderblush; font-size: large;">Nie znaleziono żadnych pozycji. Przejdź na inną zakładkę albo wybierz inne kryterium wyszukiwania.</p>
<% end %>
<% end %>
