<h1>Lista szkoleń</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa szkolenia</th>
      <th>Organizator</th>
      <th>E-learning</th>
      <th>Płatne</th>
      <th>Lokalizacja (powiat)</th>
      <th>Kategoria (dziedzina)</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr>
        <td><%= link_to training.name, training %></td>
        <td><%= training.organizer %></td>
        <td><%= training.elearning ? "Tak" : "Nie" %></td>
        <td><%= training.paid ? "Tak" : "Nie" %></td>
        <td><%= training.location.name %></td>
        <td><%= training.category.name %></td>
        <td><%= link_to 'pokaż', training %></td>
        <td><%= link_to 'edytuj', edit_training_path(training) %></td>
        <td><%= link_to 'usuń', training, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowe szkolenie' , noweszkolenie_trainings_path %>
