<h1>Lista szkoleń</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa szkolenia</th>
      <th>Data rozpoczęcia</th>
      <th>Czas trwania</th>
      <th>Lokalizacja (powiat)</th>
      <th>Płatne</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td class="c1"><%= link_to training.name, training %></td>
        <td class="c2"><%= training.begin_date %></td>        
        <td class="c1"><%= training.term_info %></td>        
        <td class="c2"><%= training.location.name %></td>
        <td class="c1"><%= training.paid ? "Tak" : "Nie" %></td>
        <td class="nolink c2"><%= link_to 'Edytuj', edit_training_path(training) %></td>
        <td class="nolink c1"><%= link_to 'Usuń', training, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowe szkolenie' , noweszkolenie_trainings_path %>
