<div class="search">
<%= form_tag szkolenia_trainings_path, method: "get" do %>
<div id="szkolenieform">
<%= field_set_tag "Szkolenia" do %>
	<div class="field">
	    <%= label_tag :query, "Słowo kluczowe" %>
	    <%= text_field_tag :query, params[:query] %>
	</div>
	<div class="field">
	    <%= label_tag :location_id, "Lokalizacja" %>
		<%= select_tag(:location_id, options_from_collection_for_select(Location.all, :id, :name, params[:location_id]), prompt: "Wybierz lokalizację") %>
	</div>
	<div class="field">
	    <%= label_tag :training_category_id, "Kategoria" %>
		<%= select_tag(:category_id, options_from_collection_for_select(Category.where(studies: false), :id, :name, params[:category_id]), prompt: "Wybierz kategorię") %>
	</div>
	<div class="field">
      <%= label_tag :paid, "Płatne" %>
      <%= check_box_tag :paid, '1', params[:paid]=='1'?true:false %>
    </div>
    <div class="field">
      <%= label_tag :elearning, "E-learning" %>
      <%= check_box_tag :elearning, '1', params[:elearning]=='1'?true:false %>
    </div>
	<%= submit_tag "Wyszukaj" %> 
<% end %>
</div>
<% end %>
</div>
<% if signed_in? or params[:commit] %>
<table class="szkolenia">
  <thead>
    <tr>
      <th>Nazwa szkolenia</th>
      <th>Data rozpoczęcia</th>
      <th>Czas trwania</th>
      <th>Lokalizacja (powiat)</th>
      <th>Płatne</th>
	<% if signed_in? %>
      <th></th>
	<% end %> 
    </tr>
  </thead>

  <tbody>
    <% @trainings.each do |training| %>
      <tr class="<%= cycle('odd', 'even') %>">
        <td><%= link_to training.name, training %></td>
        <td><%= training.begin_date %></td>        
        <td><%= training.term_info %></td>        
        <td><%= training.location.name %></td>
        <td><%= training.paid ? "Tak" : "Nie" %></td>
    <% if signed_in? %>
        <td class="nolink"><%= link_to 'Edytuj', edit_training_path(training) %> | <%= link_to 'Usuń', training, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
    <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
