<p id="notice"><%= notice %></p>

<h2><%= link_to @zawod.category.name, zawod_index_path(category_id: @zawod.category.id, commit: true) %>/<%= @zawod.name %> </h2>

<div class="ustawiczne">
	<ul class="tabs">
	    <li><a href="#program">Program</a></li>    
	    <li><a href="#lokalizacja">Lokalizacja</a></li>
	    <li><a href="#uczelnia">Organizator</a></li>
	    <li><a href="#koszty">Koszty</a></li>
	    <li><a href="#terminy">Terminy i warunki rekrutacji</a></li>
	</ul>

  <div id="program">
    <p>
      <strong>Opis kierunku:</strong>
      <%= simple_format @zawod.description %>
    </p>
    <p>
      <strong>Program nauczania:</strong>
      <%= simple_format @zawod.program  %>
    </p>
    <p>
      <strong>Informacje dodatkowe:</strong>
      <%= simple_format @zawod.additional_info  %>
    </p>
  </div>

  <div id="lokalizacja">
    <div id="mapa">
      <%= @zawod.address  %>
    </div>
  </div>

  <div id="uczelnia">
    <p>
      <strong>Nazwa organizatora:</strong>
     <% unless @zawod.organizer.link.blank? %>
      <a href="<%= @zawod.organizer.link %>"><%= @zawod.organizer.name %></a>
     <% else %>
      <%= @zawod.organizer.name %>
     <% end %>
    </p>
    <p>
      <strong>Adres siedziby organizatora:</strong>
      <%= simple_format @zawod.organizer.address  %>
    </p>
    <p>
      <strong>Kontakt:</strong>
      <%= simple_format @zawod.organizer.contact  %>
    </p>
  </div>
  
  <div id="koszty">
  <% unless @zawod.paid %>
    <p>Kształcenie jest bezpłatne</p>
  <% else %>
    <p>
      <strong>Odpłatność za jeden semestr:</strong>
      <%= @zawod.costs_semester %>
    </p>
    <p>
      <strong>Dodatkowe informacje na temat kosztów:</strong>
      <%= simple_format @zawod.costs_info %>
    </p>  
  <% end %>
  </div>
  <div id="terminy">
  	<p>
      <strong>Czas trwania nauki:</strong>
      <%= simple_format @zawod.term_time %>
    </p>
    <p>
      <strong>Termin składania dokumentów:</strong>
      <%= simple_format @zawod.term_info %>
    </p>
   <% if @zawod.begin_date %>
    <p>
      <strong>Data rozpoczęcia:</strong>
      <%= @zawod.begin_date %>
    </p>
   <% else %>
    <p>
      <strong>Data rozpoczęcia:</strong>
      <%= @zawod.begin_date_text %>
    </p>
   <% end %>
   <% if @zawod.end_date %>
    <p>
      <strong>Data zakończenia:</strong>
      <%= @zawod.end_date %>
    </p>
   <% else %>
    <p>
      <strong>Data zakończenia:</strong>
      <%= @zawod.end_date_text %>
    </p>
   <% end %>
   <% if @zawod.requirements and @zawod.requirements!="" %>
    <p>
      <strong>Wymagania:</strong>
      <%= simple_format @zawod.requirements %>
    </p>
   <% end %>
   <% if @zawod.term_additional_info and @zawod.term_additional_info!="" %>
    <p>
      <strong>Informacje dodatkowe:</strong>
      <%= simple_format @zawod.term_additional_info %>
    </p>
   <% end %>
    <p>
      <strong>Wymagane dokumenty:</strong>
      <%= simple_format @zawod.documents %>
    </p>
  </div>
</div>

<% if current_user.admin? %>
  <%= link_to 'Edycja', edit_zawod_path(@zawod), class: "ustawiczne_link_block" %>
<% end %>