<%= form_for(@organizer) do |f| %>
  <% if @organizer.errors.any? %>
    <div id="error_explanation">
      <h2><%= "#{@organizer.errors.count} błędów" %> przeszkodziło w zachowaniu danych:</h2>
      <ul>
      <% @organizer.errors.messages.each do |msg| %>
        <li><%= msg[1][0] %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nazwa organizatora/uczelni" %>
    <%= f.text_field :name, size: 80, maxlength: 255  %>
  </div>
  <div class="field">
    <%= f.label :address, "Adres organizatora/uczelni" %>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label :contact, "Dane kontaktowe" %>
    <%= f.text_area :contact %>
  </div>
  <div class="field">
    <%= f.label :link, "Adres WWW organizatora/uczelni" %>
    <%= f.text_field :link, size: 80, maxlength: 255  %>
  </div>
  <div class="field">
    <%= f.label :type, "Typ szkoły" %>
    <%= f.text_area :type %>
  </div>
  <div class="field">
    <%= f.label :college, "Uczelnia" %>
    <%= f.check_box :college %>
  </div>
  <div class="actions">
    <%= f.submit "Zapisz" %>
  </div>
<% end %>
