<h1>Lista organizatorów</h1>

<table>
  <thead>
    <tr>
      <th>Nazwa</th>
      <th>Addres</th>
      <th>Kontakt</th>
      <th>WWW</th>
      <th>Uczelnia</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @organizers.each do |organizer| %>
      <tr>
        <td><%= link_to organizer.name, organizer %></td>
        <td><%= organizer.address %></td>
        <td><%= organizer.contact %></td>
        <td><%= organizer.link %></td>
        <td><%= organizer.college ? "Tak" : "Nie" %></td>
        <td><%= link_to 'Edit', edit_organizer_path(organizer) %></td>
        <td><%= link_to 'Destroy', organizer, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nowy organizator', new_organizer_path %>
