<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa organizatora/uczelni:</strong>
  <%= @organizer.name %>
</p>

<p>
  <strong>Adres organizatora/uczelni:</strong>
  <%= @organizer.address %>
</p>

<p>
  <strong>Dane kontaktowe:</strong>
  <%= @organizer.contact %>
</p>

<p>
  <strong>Adres WWW organizatora/uczelni:</strong>
  <%= @organizer.link %>
</p>

<p>
  <strong>Uczelnia:</strong>
  <%= @organizer.college ? "Tak" : "Nie" %>
</p>

<% if signed_in? %>
  <%= link_to 'Edycja', edit_organizer_path(@organizer) %>
<% end %>
