<h1>Lista użytkowników</h1>

<p id="alert"><%= alert %></p>

<table class="normal">
  <thead>
    <tr>
      <th>Imię i nazwisko</th>
      <th>Nazwa użytkownika</th>
    <% if current_user.admin? or current_user.doradca? %>
      <th>Administrator</th>
      <th>Doradca</th>
    <% end %>
      <th />
    </tr>
  </thead>

  <tbody>
	<% @users.each do |user| %>
	  <tr>
	    <td><%= user.name %></td>
	    <td><%= user.email %></td>
    <% if current_user.admin? or current_user.doradca? %>
      <td><%= user.admin? ? "Tak" : "Nie" %></td>
      <td><%= user.doradca? ? "Tak" : "Nie" %></td>
      <td class="nolink"><%= link_to 'Edytuj', edit_user_path(user) %> | <%= link_to 'Usuń', user, method: :delete, data: { confirm: 'Jesteś pewien?' } %></td>
    <% end %>
    </tr>
	<% end %>
  </tbody>
</table>
