<p id="notice"><%= notice %></p>

<p>
  <strong>Imię i nazwisko:</strong>
  <%= @trainer.name %>
</p>

<p>
  <strong>Dodatkowe informacje o trenerze:</strong>
  <%= @trainer.info %>
</p>

<%= link_to 'Edit', edit_trainer_path(@trainer) %> |
<%= link_to 'Back', trainers_path %>
