<!DOCTYPE html>
<html>
<head>
  <title>Szkolenia</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<ul>
<li><%= link_to 'podyplomowe', podyplomowe_trainings_path %></li>
<li><%= link_to 'studia', studia_trainings_path %></li>
<li><%= link_to 'szkolenia', szkolenia_trainings_path %></li>
<li><%= link_to 'nowe studia', nowestudia_trainings_path %></li>
<li><%= link_to 'nowe szkolenie', noweszkolenie_trainings_path %></li>
</body>
</html>
